.container-opciones-billing {
    margin-top: 50px;
    cursor: pointer;
    height: 200px;
    margin-right: 30px;
  }
  .container-opciones-billing span {
    display: flex;
    font-family: open sans;
    color: white;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .container-opciones-billing div:hover {
    background-color: #dbf3d7;
  }
  
  .billing-options {
    display: flex;
    background-color: white;
    margin-left: auto;
  
    width: 15vw;
    height: 50px;
    padding-left: 10px;
    font-family: open sans;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    z-index: 999;
  }
  
  .container-general-billing {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .opciones-visibles {
    display: flex;
    flex-direction: column;
  }
  .opciones-no-visibles {
    display: none;
  }
  .contenedor-invoices {
    display: flex;
    background-color: white;
    height: 100px;
    width: 70vw;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }
  .contenedor-invoices span {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  @media only screen and (max-width: 550px) {
    .container-general-billing {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      width: 100%;
    }
    .container-general-billing {
      display: none;
    }
    .billing-options {
      margin-left: 0;
    }
  
    .billing-titulo-mobile {
      color: white;
      margin: 10px;
      font-size: 1.2rem;
    }
  
    .billing-buttons {
      display: grid;
      grid-template-columns: auto auto auto;
      height: 100%;
    }
  }