.dashboard-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  width: 100%;
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
  height: 100vh;
  overflow-y: auto;
}

.dashboard-container h3 {
  font-weight: 600;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.applications-section {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 90%;
  margin-bottom: 0px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.applications-section p {
  display: flex;
  justify-content: center;
  color: grey;
  width: 100%;
  font-weight: 500;
}

.applications-section button {
  margin-left: 20px;
  border-radius: 20px !important;
  font-size: 1rem;
  font-weight: 500;
}

.section-button {
  background-color: white;
  color: #00b174;
  width: 200px;
  margin-top: 50px;
}

.section-button:hover {
  background-color: white;
  color: #00b174;
  width: 200px;
}

.billing-section,
.envs-section {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}
.teams-section {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.envs-section button {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  font-size: 0.8rem;
}

.billing-section {
  background-color: #003c28;
}

.billing-section button {
  margin-left: 20px;
  border-radius: 20px !important;
  font-size: 1rem;
  font-weight: 500;
}

.billing-section p {
  font-weight: bold;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
}

.billing-section span {
  font-weight: 400;
}
.billing-info {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
.billing-info h1,
h3,
span {
  margin: 0px 0px;
}
.billing-info p {
  display: flex;
  width: 100% !important;
  font-size: 0.7rem;
  color: grey;
}
.billing1 {
  background-color: #00b174;
  padding: 6px 15px;
  font-size: 0.8rem !important;
  margin-left: auto !important;
  margin-right: 0px !important;
  min-width: 90px;
  border: none;
}
.billing2 {
  padding: 6px 15px;
  font-size: 0.8rem !important;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 10px;
  min-width: 90px;
  border: none;
  font-weight: 600;
}
.billing2.dark {
  background-color: white;
  color: black;
}
.billing2.light {
  background-color: #151e21;
}
.teams-section h3 {
  margin-right: auto;
}

.teams-section p {
  display: flex;
  justify-content: center;
  color: grey;
  width: 100%;
  font-weight: 500;
}

.teams-section button {
  background-color: #00b174;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 0px;
  font-size: 0.8rem;
}

.section-header {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
}

.deploy-button,
.section-header button {
  background-color: #00b174;
  color: #f4f4f4;
  border: none;
  padding: 6px 15px !important;
  border-radius: 5px;
  cursor: pointer;
}
.middle-section {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  width: 95%;
  margin: 15px auto;
}

.deploy-button:hover,
.section-header button:hover {
  background-color: #00b174;
}
.events-section {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0px auto;
}
.section-header h4 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 500;
  padding-top: 0px;
  margin-top: -40px;
  margin-bottom: 10px;
  
}
.section-header h3 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 500;
  padding-top: 0px;

  
}

.section-header button {
  border-radius: 20px;
  background-color: #00b174;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.events-table th,
.events-table td {
  border: none;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

.events-table th {
  color: #333;
}

.events-table td {
}

.events-table td img.integration-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.events-table tr:last-child td {
  border-bottom: none;
}

.events-table.dark thead {
  border-bottom: 1px solid white;
}
.events-table.light thead {
  border-bottom: 1px solid black;
}
.events-table td {
  font-size: 0.8rem;
  font-weight: 500;
}
.dashboard-header {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: flex-start;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 0px;
}
.dashboard-header2 {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.notification-icon {
  cursor: pointer;
  position: relative;
  margin-left: auto;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-content: center;
  z-index: 10;
}

.notification-icon img {
  display: flex;
  width: 24px;
  height: 24px;

  margin: auto;
}

.notifications-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1b1b1b;
  color: #fff;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 5;
  margin-right: 4vw;
  margin-top: 2vh;
}
.notifications-popup h2 {
  padding: 0px 10px;
}

.notification-item {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #333;
  height: 30px;
  margin: 10px auto;
  font-size: 0.8rem;
  border-radius: 30px;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid white;
}

.green {
  background-color: #28a745;
}

.orange {
  background-color: #ffc107;
}

.red {
  background-color: #dc3545;
}
@media only screen and (max-width: 768px) {
  .dashboard-content {
    grid-template-columns: 1fr;
  }
}

.dashboard-container.light {
  background-color: #fff;
}

.applications-section.light {
  background-color: #f5f6f6;
}
.billing-section.light {
  background-color: #d6eee3;
}
.billing-section.dark {
}
.teams-section.light {
  background-color: #151e21;
  color: white;
}
.envs-section.light {
  background-color: #f5f6f6;
}

.section-header.light h3,
.section-header.light button {
  color: #333;
}

.notifications-popup.dark {
  background-color: #f4f4f4;
  color: #333;
}
.notification-item.dark {
  background-color: #ddd;
}
.notification-item.dark:hover {
  background-color: rgba(128, 128, 128, 0.585);
}
.notification-item.dark:not(:last-child) {
  border-bottom: 1px solid transparent;
}

.notification-item.light {
  background-color: rgba(128, 128, 128, 0.585);
}
.notification-item.light:hover {
  background-color: #dddddd91;
}
.notification-item.light:not(:last-child) {
  border-bottom: 1px solid transparent;
}

.events-table.light th,
.events-table.light td {
  color: #333;
}


.dashboard-container.dark {
  background-color: black;
  color: #f4f4f4;
}

.applications-section.dark {
  background-color: #151e21;
}
.teams-section.dark {
  background-color: #161f21;
}
.envs-section.dark {
  background-color: #44494a;
}

.events-section.dark {
  color: #f4f4f4;
}
.events-section button {
  margin-left: auto;
}

.section-header.dark h3,
.section-header.dark button {
  color: #f4f4f4;
}

.notifications-popup.ligth {
  background-color: #333;
  color: #f4f4f4;
}

.notification-item.ligth {
  background-color: #444;
}

.events-table.dark th,
.events-table.dark td {
  color: #f4f4f4;
}
.notification-icon.light {
  background-color: #0c1317;
}
.notification-icon.dark {
  background-color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: 0.4s;
  border-radius: 34px;
  width: 50px;
  height: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #0c1317;
}
.applications-section2 {
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  width: 100%;
  margin-bottom: 0px;
  height: 40vh;
  display: flex;
  flex-direction: column;

  margin-top: 0px;
}

.applications-section2 p {
  display: flex;
  justify-content: center;
  color: grey;
  width: 100%;
  font-weight: 500;
}

.applications-section2.light,
.billing-section2.light,
.teams-section2.light {
  background-color: #f5f6f6;
}
.applications-section2.dark {
  background-color: #44494a;
}
.applications-section2 button {
  margin-left: auto;
  border-radius: 20px !important;
  font-size: 0.8rem;
  font-weight: 500;
}
.apps-flex {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  height: 80%;
  width: 100%;
  margin: auto;
  flex-wrap: nowrap;
}
.appActive-container {
  width: 100%;
  box-sizing: border-box;
  height: 100%;

  margin: auto;
  border-radius: 15px;
  padding: 10px;
}
.appActive-container.dark {
  background-color: #161f21;
}
.appActive-container.light {
  background-color: #dbdbdb;
}
.app-titles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 30px;
}
.app-titles h3 {
  font-size: 0.9rem;
  font-weight: 800;
}
.app-titles button {
  display: flex;
  font-size: 0.8rem;
  height: 20px;
  text-align: center;
  align-items: center;
 
  background-color: white;
  justify-content: center;
  width: 80px;
}
.appActive-state {
  display: flex;

  gap: 5px;
}
.appActive-state span {
  font-size: 0.7rem !important;
  margin: auto !important;
}
.appActive-container span {
  display: flex;
  margin-left: 0px !important;
  margin-bottom: 5%;
  font-size: 0.8rem;
  font-weight: 400;
}
.app-members {
  display: flex;
  position: relative;
  width: fit-content; 
}

.member-image {
  border-radius: 50px;
  border: 1px solid transparent;
  right: 0;
  margin-right: -20px; 
}
.member-image-back


.member-image:nth-child(1) {
  z-index: 1;
}

.member-image:nth-child(2) {
  z-index: 2;
}

.member-image:nth-child(3) {
  z-index: 3;
}
.app-date p {
  font-size: 0.7rem;
  margin-left: 5px;
  margin-right: 0px;
}
.calendar-app{
  display: flex;
  justify-content: flex-end;
}

.team-date {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
  margin-bottom: 0px;
}

.active {
  color: #00b174;
  border: none;
}
.active2{
  color: #00b174;
}

.inactive {
  color: rgb(255, 10, 10);
  border: none;
}

.renew {
  color: rgb(240, 193, 4);
  border: none;
}
.EnvActive-container {
  margin: 0px auto;
  border-radius: 10px;
  width: 55px;
  height: 8vh;
}
.circle-envs {
  display: flex;
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}
.circle-envs.light {
  border: 2px solid black;
}
.circle-envs.dark {
  border: 2px solid white;
}
.EnvActive-container span {
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
}

.teamActive-container {
  margin: auto 10px;
  border-radius: 10px;
  width: 7vw;
  height: 8vh;
  padding: 10px;
}
.teamActive-container.light {
  background-color: #dbdbdb;
  color: black;
}
.teamActive-container.dark {
  background-color: #44494a;
}
.newTeam-container {
  margin: auto 10px;
  border-radius: 10px;
  width: 7vw;
  padding: 10px;
  height: 7.5vh;
  text-align: center;
  color: #00b174;
  font-size: 52px;
  font-weight: lighter;
  justify-content: center;
  border: 2px solid white;
  align-content: center;
  cursor: pointer;
}
.newEnv-container {
  display: flex;
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  color: #00b174;
  margin-top: 10px;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 300;
}
.newEnv-container.light {
  border: 2px solid black;
}
.newEnv-container.dark {
  border: 2px solid white;
}
.env-members {
  display: flex;
  margin: 10px 0px;
  width: fit-content; 
}
.team-members {
  display: flex;
  margin: 10px auto;
  width: fit-content; 
}
.teamActive-container h3 {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
}


@media only screen and (max-width: 1250px) {
  .team-date{
    flex-direction: column;
   
  }
   .calendar-app{
    justify-content: center;
    margin: auto;
  }
  .middle-section{
    display: flex;
    flex-direction: column;
  }
  .billing-section{
    width: 92%;
    margin-bottom: 15px;
  }
  .teams-section{
    margin: auto;
    margin-bottom: 15px;
    width: 92%;
  }
  .envs-section{
    width: 92%;
  }
  .teamActive-container{
    width: 15vw;
  }
 }

 .button-gridOps{
  background-color: #00b174;
  border-radius: 0px;
  padding:  5px;
  height: 52px;
  justify-content: center;
  
  margin: auto 0px;
  margin-top: 10px;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
 }