@import url('./Navbar.css');



.logged-home-component {
  background-image: url('/fondoFinal7.svg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}
.logged-home-component2 {
  background-color: #151e21;
  
  min-width: 100vw;
}
.blureado {
  filter: blur(3px);
  pointer-events: none;
}
.checkbox-filter {
  display: flex;

  width: auto;
}
.checkbox-filter input {
  width: auto !important;
}
.checkbox-filter label {
  color: rgba(255, 255, 255, 0.704);
  font-size: 0.9rem;

  width: 100%;
  margin-right: auto;
  margin-left: 0px;
}

.dskt-sidebar-container{
  width: 200px;
  min-width: 200px;
}
