@import url('./Navbar.css');


.logged-home-container {
  
  background-size: cover;
  height: 110vh;
}

.logged-home-cards {
  display: grid;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 50px;
  width: 85%;
}
.logged-home-cards-sin-sidebar {
  display: grid;
  justify-content: center;
  margin-left: 300px;
  grid-template-columns: 25% 25% 25%;
  margin-bottom: 200px;
  background-color: #1e2b3193;
  width: 75%;
  margin-top: 50px;
  border-radius: 10px;
}
.input-proyecto {
  margin-top: 30px;
  margin-left: 50px;
  height: 40px;
  width: 65%;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.465);
  padding: 0px 30px;
  font-family: open sans;
  font-weight: bold;
}
.chart-asic-hosting {
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50vw;
}

.chart-line-asic-hosting {
  margin-left: 320px;
  width: 600px;
  height: 300px;
}
.contenedor-general-charts {
  display: flex;
  margin-top: 50px;
  background-color: transparent;
  border-radius: 10px;
  margin: auto;
  width: 80%;
}

.contenedor-hardware {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #36b079;
  border-radius: 5px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.button-proyecto {
  margin-left: 20px;
}
.titulos-home,
.titulos-home2 {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 0.8rem;
  letter-spacing: 1.5px;
  color: white;
  border-bottom: 1px solid white;
}

.titulos-home2:hover {
  cursor: pointer;
  background-color: #1e2b3193;
}

.titulos-home span,
.titulos-home2 span {
  display: flex;
  width: 8vw;

  box-sizing: border-box;

  padding: 5px;
  margin: 5px;
}

.total-balance {
  background-color: rgba(0, 0, 0, 0.455);
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 20px;
  width: 220px;
  height: 80px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  border: 2px solid #36b079;
}
.total-balance h5 {
  color: #36b079;
  margin-top: 10px;
  font-size: 1.8rem;
}
.contenedor-hardware h4 {
  display: flex;
  color: white;
  width: 100%;

  text-decoration: underline;
  font-size: 1.3rem;
  justify-content: center;
  margin-left: 0;
}
.foto-hardware {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 200px;

}

.logged-home-component {
  background-image: url('/fondoFinal7.svg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
}
.logged-home-component2 {
  background-color: #151e21;
  
  min-width: 100vw;
}
.blureado {
  filter: blur(5px);
}

.probando-index {
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 100px;
  width: 100%;
}

.contenedor-before {
  display: flex;
  flex-direction: column;
  background-color: #1e2b31c9;
  margin-top: 20px;
  width: 50%;
  height: 200px;
  border-radius: 10px;
  margin-left: 300px;
}
.contenedor-before h1 {
  display: flex;
  color: white;

  font-size: 1.8rem;
  margin: auto;
}
.contenedor-before button {
  width: 30%;
  background-color: #36b079;
  margin: auto;
}
.contenedor-before span {
  display: flex;
  color: rgba(255, 255, 255, 0.618);

  margin: auto;
  font-size: 1.1rem;
}

.contenedor-hostingBought {
  display: flex;
  background-color: #1e2b3193;
  height: 700px;
  width: 40%;
  margin-left: 300px;
  margin-top: 50px;
}

.titulos-dashboard {
  display: flex;
  width: 90%;
  margin-top: 50px;
  height: 40px;
  margin-bottom: 50px;
}
.titulos-dashboard h2 {
  color: white;
  margin: auto 0;
}
.titulos-dashboard button {
  margin-left: auto;
  border-radius: 15px;
}

.ComponentCard {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.07);
  width: 95%;
}
.first {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.628);
  font-size: 0.9rem;
}
.second {
  display: flex;
  color: white;

  width: 85%;
  margin: auto;
}
.second img {
  margin-top: auto;
  margin-bottom: auto;
}
.second h3 {
  margin-left: 2%;
  margin-right: 5%;
}
.third {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.9rem;
  width: 85%;
  margin: auto;
}
.third span,
.fourth span {
  font-weight: bold;
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
}
.third p,
.fourth p {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  margin-left: 5px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.738);
}

.fourth {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.fourth span {
  display: flex;
  margin-left: auto;
}

.grid-components {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  width: 90%;
}

.contents-index {
  display: grid;
  grid-template-columns: 80% 20%;
}

.separador-horizontal {
  display: flex;
  height: 80%;
  margin-top: auto;
  margin-right: 20px;
  margin-left: -40px;
  width: 0.5px;
  background-color: rgba(255, 255, 255, 0.667);
}

.filter-index {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  letter-spacing: 0.5px;
}
.filter-index span {
  color: rgba(255, 255, 255, 0.704);
  font-size: 1.1rem;
  margin-top: 30px;
  margin-left: 0px;
}
.filter-index select {
  display: flex;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid white;

  color: white;
  background-color: black;
  padding: 5px;
  margin-top: 10px;
}
.filter-index input {
  width: 60%;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  margin-left: 0px;
}
.filter-index p {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 0px;
}
.checkbox-filter {
  display: flex;

  width: auto;
}
.checkbox-filter input {
  width: auto !important;
}
.checkbox-filter label {
  color: rgba(255, 255, 255, 0.704);
  font-size: 0.9rem;

  width: 100%;
  margin-right: auto;
  margin-left: 0px;
}

@media only screen and (max-width: 790px) {
  .logged-home-component {
    min-width: 10vw;
  }
  .logged-home-cards {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: transparent;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    width: auto;
  }
  .probando-index {
    margin-top: 50px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 100px;
    width: 100%;
  }
}
