.fondo-aboutUs {
  border-bottom: 2px #36b079 solid;
  
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
.container-aboutUs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-aboutUs h1 {
  color: white;
  margin-top: 120px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  background: linear-gradient(225deg, #fff, #36b079);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-aboutUs div {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
}

.container-aboutUs h2 {
  color: white;
  margin-top: 120px;
  justify-content: center;
  text-align: center;

  margin-right: auto;
  font-size: 2.5rem;
  background: linear-gradient(225deg, #fff, #36b079);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-aboutUs h3 {
  color: white;
  justify-content: center;
  text-align: center;

  margin-right: auto;
  font-size: 2rem;
  font-weight: lighter;
}

.contenedor-parrafos-about {
  display: flex;
}
.aboutUs-final {
  margin-bottom: 200px;
}
.aboutUs-final h1 {
  color: white;
  margin-top: 120px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}
.aboutUs-final h3 {
  color: white;

  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: lighter;
}

.botones-aboutUs2 {
  display: flex;
  margin-right: auto;
  width: 20%;
  background-color: #36b079;
  justify-content: center;
}
.botones-aboutUs {
  display: flex;
  margin-left: auto;
  justify-content: center;
  background-color: #36b079;
  width: 20%;
}
.contenedor-flex {
  margin-bottom: 50px;
}

@media only screen and (max-width: 550px) {
  .container-aboutUs h1,
  h2 {
    font-size: 1.8rem;
  }
  .container-aboutUs div {
    font-size: 1rem;
  }
  .contenedor-flex img {
    height: 250px;
  }
  .aboutUs-final h1 {
    font-size: 1.8rem;
    width: 90%;
    margin-top: 20px;
  }
  .aboutUs-final h3 {
    font-size: 1.4rem;
    width: 90%;
  }
  .aboutUs-final {
    margin-bottom: 20px;
  }
}
