@import url('./SideNavbar.css');
@import url('./InfoPersonal.css');

.container-sideNavbar-infoPersonal {
  display: flex;
}

.container-personal {

  
  background-attachment: fixed;
  background-size: cover;
}
