@import url('./SideNavbar.css');
@import url('./InfoPersonal.css');

.container-sideNavbar-infoPersonal {
  display: flex;
}

.container-personal {

  background-image: url('../../../public/fondoFinal7.svg');
  background-attachment: fixed;
  background-size: cover;
}
