.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.login{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.login img{
  display: flex;
  margin: auto;
  margin-right: 25%;
  margin-bottom: -60px;
}
.login-form span {
  color: rgba(255, 255, 255, 0.79);

  margin-bottom: -10px;
  
  font-size: 0.8rem;
}
.input-container {
  position: relative;
  color: black;
}

.input-container img {
  position: absolute;
  right: 15px;
  top: 49%;
  cursor: pointer;
}
.password-strength-bar {
  position: absolute;
  right: 100;
  top: 100;
  height: 5px;
}
.contenedor-login {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.textos-login {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;

  margin-top: 50px;
  width: 100%;
}
.doble-contenedor {
  display: flex;
  width: 26.5vw;
}
.textos-login h1 {
  background: linear-gradient(225deg, #fff, #36b079);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 2.5rem;
  width: 100%;
  font-weight: bolder;
}
.textos-login div {
  color: white;

  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.textos-login span {
  color: rgba(255, 255, 255, 0.798);

  margin: 5px;
}

.login-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}


.login-input-small {
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  width: 100%;
  padding: 10px 10px;
  border-style: none;
  border-radius: 5px;
}
.login-icono {
  height: 20px;
}

.github-login {
  display: flex;
  background-color: white;
  margin-top: 5%;
  height: 25px;
  width: 25vw;
  padding: 10px 10px;
  border-style: none;
  border-radius: 5px;

  font-size: 1rem;
  cursor: pointer;
}
.github-login:hover {
  background-color: rgba(255, 255, 255, 0.934);
}
.github-login span {
  margin-left: 10px;
}

.link-zelcore {
  display: flex;
  margin: 30px auto;
}

.forgot-login {
  color: #36b079;

  margin-top: 5%;
  cursor: pointer;
}
.forgot-login:hover {
  color: #7ce2b4;
}
.member-login {
  text-align: start;
  width: 100%;
  margin-top: 5%;
  font-size: 1rem !important;
  font-weight: lighter !important;
  color: white;
}
.member2-login {
  font-size: 1rem !important;
  color: #36b079 !important;
  cursor: pointer;
}
.member2-login:hover {
  color: #7ce2b4 !important;
}

.login-redes {
  display: flex;
  flex: row;
  justify-content: center;
}
.logo-google-login {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20%;
}
.logo-facebook-login {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 8%;
}

.a-redes-login {
  display: flex;
  background: white;
  border-radius: 5px;
  width: 60px;
  height: 50px;
  margin-right: 20%;
  margin-left: 25%;
}
.separator {
  width: 165px;
  margin-top: 5%;
  border: 0;
  border-top: 1px solid #ccc;
}
.login-separador {
  display: flex;
  width: 26.5vw;
}
.letra-separador {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1.5%;
  color: white;
}

@media only screen and (max-width: 550px) {
  .contenedor-login {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .doble-contenedor {
    width: 90%;
  }
  .textos-login div {
    display: none;
  }
  .textos-login span {
    display: none;
  }
  .textos-login h1 {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
  }
  .github-login {
    width: 90%;
  }
  .login-separador {
    display: flex;
    width: 90%;
  }
  .login-title {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    margin-top: 20px;
  }
  .login-submit {
    width: 86vw;
  }
  
  .member-login {
    width: 100%;
    margin-bottom: 20px;
  }
  .input-container img {
    right: 14px;
    top: 10px;
  }
}
  
  .form-container {
    
    width: 40%;
    margin: auto;
    gap: 50px;
    padding: 10px;
    border-radius: 8px;
  
    font-family: Arial, sans-serif;
    margin-top: 100px;
    margin-right: 10%;
  }
  .login-container{
    background-color: #f5f5f6;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
   
  }
  .login-header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .login-header2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
    justify-content: space-between;
  }
  .login-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .login-option img{
    margin: auto 0px;
    border-radius: 2px;
  }
  .login-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: black;
    width: 80%;
    margin: auto;

  }
  .login-option-text {
    font-size: 14px;
    min-width: 60%;
  }
  .login-option-arrow {
    font-size: 18px;
  }
  .login-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .login-divider-text {
    padding: 0 10px;
    background-color: white;
    color: #888;
    font-size: 12px;
  }
  .login-divider::before,
  .login-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .login-input {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    width: 80%;
  }
  .login-submit {
    padding: 10px;
    background-color: #00b174;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 82.5%;
  }
  .login-signup {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  .login-signup-link {
    color: #00b174;
    text-decoration: none;
    font-weight: bold ;
  }
  .login-info-container{
    color: black;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 70%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 30vh;
  }
  .login-profile-info{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
  }
  .login-profile-info img{
    background-color: #888;
    padding: 5px;
    border-radius: 50px;
  }
  .login-screen{
    display: grid;
    grid-template-columns: 50% 45%;
    background-color: white;
    min-height: 100vh;
  }
  .web-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 1500px){
    .form-container {
    
      width: 55%;
    }
  }
  @media only screen and (max-width: 1100px){
    .form-container {
      width: 65%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .login-info-container{
      display: none;
    }
    .login-screen{
      display: flex;
      margin: auto;
    }
    .login{
      width: 90%;
      margin: auto;
    }
    .form-container{
      width: 95%;
      margin: auto;
    
   
    }
    .login img{
      margin: auto;
    }
  }