@import url('./Navbar.css');
@import url('./Form.css');

@font-face {
  font-family: 'Rouben';
  src: url(../../../public/fonts/Rouben-Medium.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rouben ligth';
  src: url(../../../public/fonts/Rouben-Light.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
