.cardHosting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: auto;
  height: 900px;
  width: 280px;
  background-color: #ffffff;
  padding: 0px 0px;
  margin-bottom: 10%;
  border-radius: 10px;
}

.cardHostingPremium {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  width: 280px;
  background-color: #ffffffdb;
  border-radius: 10px;
  margin-top: -40px;
  margin-bottom: 10%;
  padding: 0px 0px;
  border-top: 40px solid #ffffff;
  border-top-right-radius: 10px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.saveSpan {
  display: flex;
  margin-top: 5%;

  font-size: 12px;
  padding: 2px 8px;
  background-color: #9cefca;
  height: 20px;
  border-radius: 15px;
  line-height: 18px;
  margin-left: 3%;
  width: 35%;
}
.pSpan {
  font-size: 20px;
  padding: 2px 8px;
  margin-left: 2%;
  margin-top: 3%;
}
.precioDiv {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: bolder;
  margin-left: 4%;
}
.precioSpan {
  font-size: 0.9rem;
  font-weight: 100;
}
.extraSpan {
  margin-left: 5%;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 2%;
  color: rgb(228, 50, 50);
}
.botonHosting {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #36b079;
  margin-top: 7%;
  border-radius: 20px;
}
.spanGarantia {
  font-family: sans-serif;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 3%;
  color: rgba(0, 0, 0, 0.537);
  margin-bottom: 10%;
}
.iconoFeatures {
  /* height: 20px; */
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 25px;
  height: 15px;
}
.spanFeatures {
  display: flex;
  /* border: 1px solid rgb(179, 175, 175); */
  /* height: 50px; */

  font-size: 0.8rem;
  justify-content: flex-start;
  /* border-top: none;
    border-left: none;
    border-right: none; */
  width: 100%;
  /* margin-top: 7%; */
  /* Prueba de nuevo card */
  border: none;
  height: 35px;
}
.contenedorSpans {
  margin-top: 5%;
}
.FeaturesContainer {
  display: flex;
  position: absolute;
  background-color: white;
  width: 220px;

  margin-top: 15.85%;
  margin-left: 17.3%;
}

.contenedorCards {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.contenedorHostingWebCompleto {
  display: flex;
  justify-content: center;
}
.contenedor-vacio {
  margin-bottom: 11%;
}
.bordeCardImportante {
  display: flex;
  position: absolute;
  border: 3px solid #000000;
  height: 985px;
  width: 280px;
  margin-left: 34.5%;
  margin-top: 4%;
  border-top: 40px solid #000000;
  border-radius: 10px;
  border-end-end-radius: 0px;
}
.tituloBestOption {
  display: flex;
  position: absolute;

  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: -900px;
  margin-bottom: 2.5%;
  color: #000000;
}
.tituloPrincipal-hosting {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1%;
  margin-top: 2%;
}
.contenedor-titulos-hosting-click {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;

  font-size: 1.4rem;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.31);
}
.spanHosting-clickeable {
  display: flex;
  padding: 10px 10px;

  cursor: pointer;
  color: rgba(255, 255, 255, 0.798);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}
.spanHosting-clickeable:hover {
  color: #9cefca;
}
.spanHosting-clickeablefocus {
  display: flex;
  padding: 10px 10px;
  margin-left: 5%;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
  color: #24f396;
}
.guia-paginacion {
  display: flex;
  color: white;

  font-size: 1.2rem;
  margin-top: 35px;
}
.icono-guia-paginacion {
  display: flex;
  height: 15px;
  justify-content: center;
  align-content: center;
  margin: auto 10px;
}
.titulo-guia-paginacion {
  margin-left: 0px;
}
.titulo-guia-paginacion:hover {
  color: #9cefca;
}
.bestOption-aparte {
  display: flex;
  position: absolute;

  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-left: calc((100% - 350px - 100%) / 2);
  margin-top: 4.6%;
  color: #000000;
}
.contenedorCards2 {
  display: flex;

  margin-top: 6%;
}
.cardHosting2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  height: 900px;
  width: 280px;
  background-color: #ffffff;
  padding: 0px 0px;
  margin-bottom: 10%;
  border-radius: 10px;
}
.cardHostingPremium2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 900px;
  width: 280px;
  background-color: #ffffffdb;
  border-radius: 10px;
  margin-top: -40px;
  margin-bottom: 10%;
  padding: 0px 0px;
  border-top: 40px solid #ffffff;
  border-top-right-radius: 10px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.separador-cardHosting {
  padding: 10px;
  font-size: 1.1rem;
}
.botonera-meses {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}
.botonera-meses button {
  display: flex;
  flex-direction: column;
  background-color: #0c1317;

  color: #ffffff;
}
.botonera-meses :focus {
  outline: 0;
  border-color: #36b079;
  box-shadow: 1px 1px 10px 2px #36b079;
  background-color: #36b079;
}

.nueva-card-hosting {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 25vw;
  /* background: url('/fondoClaro.svg');
    background-size: cover; */
  background-color: rgba(255, 255, 255, 0.07);
  border: 2px solid grey;
  /* background-color: #0c1317; */
  border-radius: 20px;
  margin: 20px;
}

.nueva-card-hosting2 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25vw;
  /* background: url('/fondoOpaco.svg');
    background-size: cover; */
  background-color: rgba(48, 45, 45, 0.554);
  border: 2px solid grey;
  border-radius: 20px;
  margin: 20px;
}
.nueva-card-hosting2 span {
  color: white !important;
}
.titulo-card-nueva {
  color: white !important;
  font-size: 2.5rem;
  font-family: rouben !important;
}
.primera-parte-card {
  display: flex;
  flex-direction: column;
  margin-top: 13%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nueva-card-botones {
  display: flex;
  margin: 10px auto;
  margin-top: 0%;
  height: 7vh;
}
.nueva-card-botones button {
  background-color: #36b079;
  color: white;
  margin: 10px 5px;
  border-radius: 50px;
}
.contenedor-nuevas {
  display: flex;
  justify-content: center;
  margin-left: -100px;
}
/* Adding CSS manually is only necessary in JSFiddle,
   where CSS can't be inserted into the <head> */
.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
.type-wrap {
  height: 100px;
  width: 100%;
  margin-left: 10%;
  margin-top: 7%;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
.contenedor-nuevas h1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  font-weight: lighter;
  font-size: 2.5rem;
  background: linear-gradient(-55deg, #fff, #36b079);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  margin-bottom: 10px;
}
.contenedor-nuevas h2 {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 5px;

  font-weight: lighter;
  font-size: 1.8rem;
  background: linear-gradient(-55deg, #fff, #36b079);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.falso-span {
  color: white !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.867);
  margin-left: 8px;
  margin-right: 8px;
}
.primer-span {
  margin-bottom: 30px;
}
.contenedor-icono {
  display: flex;
  width: 50px;
}
.linea-separadora2 {
  display: flex;

  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgb(255, 255, 255);
  width: 80%;
}

.grid-features-hosting {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.grid-features-hosting2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 5%;
  width: 90%;
  height: auto;
}
.grid-features-hosting2 p {
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
}
.marcas-hosting {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  gap: 10%;
  margin-bottom: 5px;
}
.contenedor-icono {
  display: flex;
  width: 50px;
}
.marcas-hosting img {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-right: 10px;
}
.marcas-hosting h2 {
  margin: auto;
  font-size: 1.2rem;

  -webkit-text-fill-color: white;
}
.linea-separadora {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.494);
  width: 80%;
}

.contenedor-nuevas span {
  color: rgba(255, 255, 255, 0.714);

  margin-top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.boton-nuevas {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  background-color: #36b079;
}

.contact-container {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0c1317;
  border-radius: 10px;
}
.contact-texts {
  margin-left: -80px;
}

.aboutUs-final2 {
  display: flex;
  flex-direction: column;
  /* background: url('/FondoEnterprise.png');
    background-size: contain;
    background-repeat: no-repeat; */
  background-color: rgba(48, 45, 45, 0.554);
  width: 70%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.aboutUs-final2 h1 {
  color: white;

  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  margin-top: 60px;
}
.aboutUs-final2 h3 {
  color: white;

  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: lighter;
}
.aboutUs-final2 span {
  color: white;

  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.contenedor-flex2 {
  display: flex;
}

@media only screen and (max-width: 1500px) {
  .cardHosting,
  .cardHostingPremium {
    width: 230px;
  }
  .cardHosting2,
  .cardHostingPremium2 {
    width: 230px;
    margin-left: 30px;
  }
  .precioDiv {
    font-size: 1.5rem;
  }
  .pSpan {
    font-size: 0.8rem;
  }
  .saveSpan {
    width: 50%;
  }
  .tituloBestOption {
    margin-top: -900px;
  }
  .aboutUs-final2 {
    background-color: rgba(48, 45, 45, 0.554);
    width: 100%;
    height: 50vh;
  }
  .aboutUs-final2 span {
    justify-content: center;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1450px) {
  .contenedor-flex2 {
    margin-top: 50px;
  }
  .contenedorCards2 {
  }
}

@media only screen and (max-width: 1300px) {
  .contenedorHostingWebCompleto {
    margin-left: 0;
  }
  .contenedor-flex2 {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .aboutUs-final2 h1 {
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 2rem;
  }
  .contenedor-flex2 {
    margin-top: 30px;
  }
  .aboutUs-final2 span {
    font-size: 20px;
  }
  .aboutUs-final2 h3 {
    font-size: 18px;
  }
  .botones-aboutUs {
    width: 30% !important;
    padding: 10px;
  }
  .botones-aboutUs2 {
    width: 30% !important;
    padding: 10px;
    justify-content: center;

    margin-top: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .nueva-card-hosting {
    height: 100vh;
  }
  .type-wrap h1 {
    font-size: 2rem;
  }
  .contenedor-flex2 {
    margin-top: 0px;
  }
  .nueva-card-botones {
    flex-direction: column;
    height: auto;
  }

  .nueva-card-hosting2 {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
  }
  .titulo-card-nueva {
    font-size: 2rem;
    justify-content: center;
    text-align: center;
  }

  .primera-parte-card {
    display: flex;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .grid-features-hosting2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
  }
  .marcas-hosting {
    height: 7vh;
  }
  .marcas-hosting span {
    display: none;
  }

  .aboutUs-final2 {
    display: flex;
    flex-direction: column;
    /* background: url('/FondoEnterprise.png');
    background-size: contain;
    background-repeat: no-repeat; */
    background-color: rgba(48, 45, 45, 0.554);
    width: 50vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .contenedor-nuevas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .titulo-card-nueva {
    font-size: 1.5rem !important;
  }
  .grid-features-hosting2 span {
    text-align: center;
  }
  .boton-nuevas {
    margin-bottom: 20px;
  }
  .tituloPrincipal-hosting {
    display: flex;
    font-size: 1.7rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-nuevas h1 {
    font-size: 1.8rem;
  }
  .contenedor-nuevas h2 {
    font-size: 1.5rem;
  }
  .contenedor-nuevas span {
    font-size: 0.9rem;
  }
  .nueva-card-hosting {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
  }
  .nueva-card-hosting2 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
  }
  .type-wrap {
    width: auto;
  }
  .aboutUs-final2 {
    display: flex;
    flex-direction: column;
    background-color: #0c1317;
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
  }
  .aboutUs-final2 h1 {
    font-size: 1.5rem;
  }
  .type-wrap {
    margin: 20px auto;
    height: auto;
  }
  .type-wrap h1 {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .nueva-card-botones {
    flex-direction: row;
  }
  .nueva-card-botones button {
    display: flex !important;
    padding: 10px 10px;
  }
  .marcas-hosting p {
    justify-content: flex-end;
    text-align: end;
  }
  .aboutUs-final2 h3 {
    color: rgba(255, 255, 255, 0.738);
    font-size: 1.2rem;
  }
  .botones-aboutUs2 {
    font-size: 0.8rem;
  }
  .botones-aboutUs {
    font-size: 0.8rem;
  }
  .boton-nuevas {
    margin-top: 30px;
  }
  .contenedor-titulos-hosting-click {
    font-size: 1rem;
  }
  .tituloPrincipal-hosting {
    margin-top: 70px;
  }
}
