@import url("./InfoSecurity.css");

@font-face {
    font-family: 'Rouben';
    src: url(../../../public/fonts/Rouben-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rouben ligth';
    src: url(../../../public/fonts/Rouben-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  } 

  .container-sideNavbar-infoSecurity{
    display: flex;
  }
  
  /* .container-Security{
    background-image: url("../../../public/fondoFinal7.svg");
    background-attachment: fixed;
    background-size:cover;
    height: 120vh;
    
  } */