@import url('./InfoSecurity.css');



.container-sideNavbar-infoSecurity {
  display: flex;
}

/* .container-Security{
    background-image: url("../../../public/fondoFinal7.svg");
    background-attachment: fixed;
    background-size:cover;
    height: 120vh;
    
  } */
