.best-features {
  width: 90%;
  color: white;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-family: rouben ligth;
  margin-top: 150px;
}

.best-features h3 {
  font-size: 1.5rem;
  opacity: 0; /* Inicia invisible */
  transition: opacity 1s ease-out;
}

.best-features h3.visible {
  opacity: 1;
}

.best-features h1 {
  font-size: 3rem;
  margin-top: -20px;
  margin-bottom: 100px;
  opacity: 0; /* Inicia invisible */
  transition: opacity 1s ease-out;
}

.best-features h1.visible {
  opacity: 1;
}

.best-features span {
  display: flex;
  width: 20vw;
  font-size: 0.9rem;
}

.features {
  margin: auto;
  opacity: 0; /* Inicia invisible */
  transform: translateY(20px); /* Posición inicial para animación */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Animación de entrada */
.features.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-item:nth-child(1) {
  transition-delay: 0.3s;
}

.feature-item:nth-child(2) {
  transition-delay: 0.6s;
}

.feature-item:nth-child(3) {
  transition-delay: 0.9s;
}

/* Hover Effects */
.icon-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Scale Effect */
.scale-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.button-landing-3 {
  transition: transform 0.3s ease;
}

.button-landing-3:hover {
  transform: scale(1.1);
}
