.faqs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  margin: auto;
  margin-left: 12%;
  margin-right: 12%;
}
.faqs-titulo {
  font-size: 3rem;
  font-family: rouben;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  margin-top: 5%;
}
.faqs-subtitulo {
  font-size: 1.3rem;
  font-family: rouben ligth;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: -300px;
  opacity: 0;
}

.guarantee {
  margin-top: 5%;
  margin-right: -160px;
}

.faqs-grid {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 200px;
  width: 80%;
}

.contenedor-borde {
  border-bottom: 4px solid white;
}

.respuesta {
  height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
  display: flex;
  margin-bottom: auto;
  font-family: rouben;
  font-size: 1.2rem;
  color: white;
}
.respuesta-shown {
  height: 100%;
  max-height: 9999px;
  overflow: hidden;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
  display: flex;
  margin-bottom: auto;
  font-family: rouben;
  font-size: 1.2rem;
  color: white;
}
.flex {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.faqs-normal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: rouben;
  width: 90%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.603);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0px;
  z-index: 9999;
}

.faqs-select {
  display: flex;
  font-family: rouben;
  width: 90%;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.faqs-ilu {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 35vh;
  margin-left: 10%;
}
@keyframes fadeIn {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*Animation functionality*/
@-webkit-keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-moz-keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes slide-up {
  0% {
    height: 0;
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    height: 100%;
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1300px) {
  .faqs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    margin: auto;
    margin-left: 12%;
    margin-right: 12%;
    /* background-image: url('../assets/backgroundNube1.jpg'); 
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; */
  }
}

@media only screen and (max-width: 550px) {
  .faqs-container {
    display: grid;
    grid-template-columns: auto;
    height: 1000px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .flex {
    flex-direction: column;
  }
  .faqs-ilu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 20vh;
  }
  .faqs-grid {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 50px;
  }

  .respuesta {
    overflow: hidden;
    transition: none;
    display: flex;
    margin: 0px;
    font-family: rouben;
    font-size: 0.8rem;
    color: white;
  }
  .respuesta-shown {
    height: 100%;

    overflow: auto;
    transition: none;
    display: flex;
    margin-bottom: auto;
    font-family: rouben;
    font-size: 1rem;
    color: white;
  }
  .contenedor-borde {
    border-bottom: 3px solid white;
    height: 100%;
  }
  .faqs-select {
    width: 100%;
    font-size: 1rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .faqs-normal {
    display: flex;

    align-items: center;
    font-family: rouben;
    width: 100%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0px;
    transition: none;
    z-index: 9999;
  }
  .content {
    font-size: 12px;
  }

  .title {
    color: #0c1317;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: rouben;
    font-size: 0.6rem;
  }
  .faqs-subtitulo {
    font-size: 16px;
  }

  .item {
    width: 250px;
  }

  .guarantee {
    margin-top: -30%;
    margin-left: 0%;
  }
  .accordion {
    width: 100%;
  }
  .faqs-titulo {
    font-size: 2rem;
  }
}
@media (max-width: 1500px) {
  .faqs-container {
    gap: 120px;
  }
}
