.fondo-footer {
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 80%;

  margin-right: auto !important;
  margin-left: auto !important;
}
.container-footer button {
  border: 1px solid white;
  border-radius: 50px;
  font-family: rouben ligth;
  font-weight: lighter;
  font-size: 0.8rem;
  width: 170px;
  margin-top: 30px;
}
li {
  margin-left: 0px !important;
  list-style: none;
  padding: 5px 5px 5px 0px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}
li:hover {
  color: white;
  font-weight: bold;
  transition: ease-out 0.3s;
}
a {
  text-decoration: none;
  color: white;
}
.columnas {
  color: white;
  display: grid;
  grid-template-columns: 40% auto auto auto 30%;
  margin-bottom: 4%;
}
ul {
  all: initial;
  font-family: rouben ligth;
}
.columna {
  justify-content: center;
  align-items: center;
  text-align: flex-start;
  font-family: rouben;
  font-size: 1.2rem;
  margin-top: 50px;
}
.columna-principal {
  justify-content: center;
  align-items: center;
  text-align: flex-start;
  font-family: rouben;
  font-size: 1.1rem;
  grid-column: 1 / 2;
  margin-left: 0px !important;
  margin-top: 50px;
}

.footer-parrafo {
  padding: 10px 0px;
  width: 320px;
  color: white;
  font-size: 0.8rem;
  font-family: rouben ligth;
}
.redes-footer {
  display: flex;
  margin: auto;
  justify-content: center;
}
.icon-redes {
  height: 25px;
  margin: 10px 10px;
}

.footer-titulo-principal {
  font-size: 1.7rem;
  color: white;
}

.licencias-footer {
  all: initial;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}
.contenedorFlex {
  display: flex;
}
.boton-contact-form:hover {
  background-color: white;
}
.boton-contact-form {
  display: flex;
  color: black;
  background-color: white;
  border: 1px solid white;
  width: 55%;
  font-family: rouben;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  font-size: 1.7rem;
  margin-top: 4%;
  height: 60px;
  letter-spacing: 0px;
}
@media only screen and (max-width: 1350px) {
  .columna-principal {
    margin-left: 90px;
  }
}

@media only screen and (max-width: 650px) {
  .container-footer {
    display: flex;

    grid-template-columns: auto;
    background: #0c1317;
    padding: 0px;
    z-index: 0;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
  }
  .boton-contact-form {
    height: auto;
    width: 40vw !important;
    text-align: center;
    justify-content: center;
  }
  .footer-parrafo {
    display: flex;
    justify-content: center;
    width: 90vw;
    text-align: center;
    align-items: center;
    align-self: center;
    font-size: 1rem;
    margin: auto;
  }
  .licencias-footer {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;

    margin-left: auto;
    font-size: 0.8rem;
    margin-bottom: 20px;
    width: 100%;
  }
  .licencias-footer span {
    margin: auto 10px;
  }
  .footer-titulo-principal {
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
  .footer-titulo {
    width: 50%;
  }
  .columnas {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .columna {
    display: flex;
    flex-direction: row;
    width: 90vw;
    padding: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    margin-top: 10px;
  }
  .columna ul {
    display: flex;
  }
  li {
    margin: auto 20px;
    padding: 10px;
    color: whitead;
    cursor: pointer;
    width: 100%;

    border-bottom: 1px solid white;
  }
  .columna-principal {
    grid-area: columna-principal;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 250px;
    width: 90vw;
  }
  .redes-footer {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  .columnas {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 350px) {
  .container-footer {
    margin-left: 5px;
  }
  .columnas {
    margin-left: 10px;
  }
  .columna-principal {
    margin-left: 0;
  }
}
