.navbar {
  position: fixed;
  background: #0c1317d9;
  height: 6vh;
  width: 100%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}
.navbar2 {

  height: 0vh;
  width: 89%;
  margin: auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  z-index: 1000;
}
.hamburguer-navbar {
  display: none;
}

.navbar.sticky {
  width: 100%;
  position: fixed;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
/* .snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */
.navbar-logo {
  display: flex;
  align-items: center;
  width: 120px;
  margin-left: 30px;
}
.navbar-logo2 {
  display: flex;
  align-items: center;
  width: 180px;
  margin-top: 150px;
  
}

.nav-items {
  width: 100%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.un-contenedor {
  display: flex;
}
.login-register {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.nav-title {
  display: flex;
  font-size: 1rem;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  padding: 25px 25px;
}
.nav-title:hover {
  color: #36b079;
}

.container-productos {
  display: flex;
  margin-left: 30vw !important;

  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8rem;
  z-index: 9999;
  height: 140px;
  width: 40%;
  background: white;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  transition: opacity 0.4s ease-in-out; 
  opacity: 0; 
  pointer-events: none; 
}

.container-productos.show {
  transition: opacity 0.4s ease-in-out;
  opacity: 1; 
  pointer-events: auto; 
  margin-left: 30vw;
}

.container-productos.show.sticky {
  margin-top: 8rem;
  margin-left: 350px;
}

.productos {
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  width: 230px;
}
.productos:hover {
  background: #d3dcd26c;
  cursor: pointer;
}

.descripcion-productos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  margin-left: 10%;
  width: 100%;
}

.titulo-productos {
  margin-bottom: 5%;

  font-size: 1rem;
  color: #0c1317;
}
.titulo-productos:hover {
  color: #36b079;
}

.subtitulo-productos {
  width: 100%;
  font-size: 0.7rem;
  color: #0c1317;
}
.logo-productos {
  height: 50px;
  margin-left: 2%;
}
.producto.show {
  height: 300px;
  background-color: white;
  border-radius: 10px;
  width: 250px;
  margin-left: 10%;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid rgb(54, 176, 121);
  font-size: 14px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: rgb(54, 176, 121);
 
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.boton-landing {
  margin-right: 0px;
  background-color: #36b079;
}
.boton-landing1 {
  display: flex;
  color: #36b079;
  background-color: transparent;
  border-radius: 25px;
  margin-right: 10vw;
}
.boton-landing1:hover {
  background: transparent;
}
.downNavbar {
  height: 20px;
  width: 25px;
  margin-left: 10px;
  margin-top: 1.5px;
}
.menuMobileContainer {
  display: none;
}

@media only screen and (max-width: 650px) {
  .categorias-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 95%;
  }
  .item-mobile {
    display: flex;
  }
  .circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
    margin-left: 20px;
  }
  .icono-mobile {
    width: 20px;
    height: 20px;
  }
  .titulo-mobile {
    color: rgba(255, 255, 255, 0.76);

    font-size: 0.8rem;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
  }
  .subtitulo-mobile {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
  }
  .navbar {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .menuMobileContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #0c1317;
    border-radius: 10px;
    margin-top: 90px;
    height: auto;
    width: 99vw;
    z-index: 9999;
    border: 2px solid white;
  }

  .menuMobileContainer button {
    display: flex;
    margin: 10px;
    width: 50%;
    text-align: center;
    justify-content: center;
  }
  .only-flex {
    display: flex;
    margin-top: 20%;
  }
  .menuMobileContainer2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #0c1317;
    border-radius: 10px;
    height: 100vh;
    color: rgba(255, 255, 255, 0.632);
    width: 100vw;

    z-index: 9999;
    margin-top: 65px;
    border: 2px solid white;
  }
  .menuMobileContainer2 button {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
  }
  .menuMobileContainer2 div {
    height: 40px;
    margin: auto 20px;

    width: 80%;
    border-bottom: 1px solid white;
  }

  .titulo-productos {
    color: white;
    font-size: 1.2rem;
  }
  .productos {
    display: flex;
    width: 100% !important;
    border-bottom: 2px solid white;
    border-radius: 0;
    height: 50px;
  }
  .navbar.sticky {
    width: 100%;
  }
  .a-mobile {
    display: flex;
    width: 33%;
  }
  .hamburguer-navbar {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    align-items: flex-end;
    text-align: center;
    align-content: center;
    margin-left: auto;
    background-color: transparent;
    border-style: none;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    
  }
  .un-contenedor {
    display: none;
  }

  .nav-item {
    margin: auto;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-left: 10px;
  }
  .container-productos {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    margin-left: 15vw;
    margin-right: 10vw;
    z-index: 9999;
    display: grid;
    grid-template-columns: auto;
    height: 960px;
    width: 300px;
  }
  .productos {
    display: flex;
    margin: auto;
    width: 200px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .logo-productos {
    height: 30px;
  }

  .subtitulo-productos {
    width: 70%;
    font-size: 0.6rem;
  }

  .menu-title {
    display: flex;

    width: 100%;
    padding: 16px 16px;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .menu-title:active {
    color: #36b079;
  }
  .hamburger-logo {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    background-color: transparent;
  }
  .hamburger-span {
    width: 200px;
    margin-left: 55%;
  }
  .hamburger-cerrado {
    width: 15px;
    height: 15px;
  }
  .hamburger-abierto {
    width: 20px;
    height: 20px;
  }
  .hamburger-logoCerrado {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    background-color: transparent;
  }
  
  i {
    display: none;
  }
  .hamburguer-navbar{
    display: none !important;
  }
}
@media only screen and (max-width: 400px) {
  .hamburguer-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    background-color: transparent;
    border-style: none;
  }
}
@media only screen and (max-width: 1300px) {
  .boton-landing1 {
    margin-left: 60%;
  }
  .boton-landing {
    margin-left: 60%;
  }
}
