.logo-flux {
    height: 1.5rem;
    margin-left: 0.5%;
    
}

.powered{
    font-family: rouben;
    font-size: 1.5rem;
   
}

.contenedor-powered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #0c1317d9;
    border-bottom: 3px solid #36B079;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100% ;   
}
@media only screen and (max-width: 550px) {
 
    .powered{
        font-family: rouben;
        font-size: 16px;
       
    }
    .logo-flux {
        height: 21px;
        margin-left: 0.5%;
        
    }
    .contenedor-powered{
        margin-top: 10%;
        height: 6vh; 
        width: 100%;
    }

}