.textos {
  display: flex;
  width: 80%;
  margin: auto;
  opacity: 0;
  height: auto;
  margin-bottom: 200px;
}
.button-textos {
  background-color: #36b079;
  width: 25%;
  height: 90px;
  border-radius: 50px;
  font-size: 1.5rem;

  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.textosMobile {
  display: none;
}
.fotoSegundo {
  display: none;
}
.button-landing {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.button-landing2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 400px;
  width: 100%;
  margin-right: 10%;
}

.parrafo-features-landing {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.1rem;
  height: 500px;
  width: 90%;

  margin: auto;
  background-color: rgba(255, 255, 255, 0.264);

  
  border-radius: 20px;
  padding: 20px;
  animation: fadeInFromRightAnimation 1s ease-in-out;
}
.parrafo-features-landing2 {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  width: 90%;

  margin: auto;

  
  border-radius: 20px;
  padding: 20px;
  animation: fadeInFromRightAnimation 1s ease-in-out;
}

.parrafo-features-landing img {
  display: flex;
  margin: auto;
}
.contenedor-features {
  height: 150px;
  justify-content: center;
  margin: auto 0px;
}

.contenedor-features2 {
  height: 50px;
  justify-content: center;
  margin: auto 0px;
}

.linea {
  width: 0%;
  height: 2px;
  background-color: #ffffff67;
  background-image: none;
  transition: width 0.2s;
}
.linea-selected {
  height: 2px;
  background-color: #fff;
  background-image: none;
  width: 70%;
  transition: width 0.5s;
}
.span-landing {
  display: flex;

  color: white;
  font-size: 2rem;


  margin: auto;
  align-items: center;
  height: 50%;
  cursor: pointer;
}
.span-landing-selected {
  display: flex !important;

  height: 50%;
  color: white;
  font-size: 2rem;

  margin: auto;
  align-items: center;
  background: linear-gradient(225deg, #fff 5%, #36b079 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.span-landing-selected2 {
  color: white;
  font-size: 1.3rem;
  height: 50px !important;
  cursor: pointer;
}
.span-landing2 {
  color: rgba(255, 255, 255, 0.651);
  font-size: 1.3rem;
  height: 50px !important;

  cursor: pointer;
}
.tituloSegundo {
  font-size: 3.5rem;

  margin-bottom: 2%;
  color: white;
}
.subtituloSegundo {
  font-size: 0.9rem;
  width: 65%;
  color: rgba(255, 255, 255, 0.84);
}
.primeraParte {
  color: #36b079;
  font-weight: bold;
}
@keyframes animation1 {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes fadeInFromRightAnimation {
  from {
    opacity: 0;
    transform: translateX(
      150px
    ); 
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 650px) {
  .parrafo-features-landing2 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    width: 90%;
    padding: 0px !important;

    margin-top: -40px;

    
    border-radius: 20px;
    padding: 20px;
    animation: fadeInFromRightAnimation 1s ease-in-out;
  }

  .fotoSegundo {
    display: flex;
    margin-left: 50px;
    width: 80%;
    z-index: 0;
    margin-right: 70px;
    margin-bottom: 250px;
  }
  .textosMobile {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
    margin-left: 0;
  }
  .textos {
   

    display: none;
  }

  .contenedorSegundo {
    display: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 350px; */
  }

  .primeraParte {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #36b079;
    font-weight: 100;
    font-size: 1.8rem;
    width: 100%;
    margin-top: 50px;
    z-index: 999;
  }

  .subtituloSegundo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;

    font-size: 16px;
    width: 80%;
    color: white;
  }
  .tituloSegundo {
    font-size: 1.8rem;
    width: 100%;
  }
  .titulo-asic {
    margin-right: 0px;
    font-size: 1.8rem !important;
  }
}
@media only screen and (max-width: 400px) {
  .textos {
    width: 100%;
    margin-top: 10%;
  }
}
