.textosBanner {
  justify-content: center;
  align-content: center;
  text-align: start;
  margin-top: 250px;
  width: 50%;
  z-index: 10;
  margin-left: 10%;
}
.banner-container {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-container3 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.subtituloBanner {
  font-size: 22px;
  width: 100%;
  color: white;
  justify-content: center;
  text-align: start;
  margin: auto;
}
.subtituloBanner2 {
  display: flex;

  font-size: 20px;
  width: 100%;
  color: white;
  justify-content: center;
  margin-bottom: 50px;
}
.subtituloBanner4 {
  display: flex;

  font-size: 20px;
  width: 40%;
  color: white;
  justify-content: center;
}
.subtituloBanner3 {
  display: flex;

  font-size: 20px;
  width: 50%;
  margin: 20px auto;
  color: rgba(255, 255, 255, 0.657);

  text-align: center;
}
.tituloBanner {
  font-size: 3.5rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 3%;
  color: white;
  justify-content: center;
  text-align: start;
}
.ilustracion-bannerGrande {
  display: flex;
  width: 45vw;
  height: 80%;
  margin-top: 10%;
}

.container-botones {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.itemMigration {
  position: relative;
  margin-top: 60px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.119);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.068);
  margin: auto;
  width: 21vw;
}
.itemMigration span {
  color: white;
  font-size: 4rem;
  padding: 5px 30px;
  font-weight: bold;
  width: 10px;
  margin: 0px;
  width: 80%;
}
.itemMigration div {
  display: flex;
  color: white;
  opacity: 1;

  font-size: 1.6rem;
  letter-spacing: 0.3px;
  width: 80%;
  padding: 5px 30px;
  text-align: start;

  margin-right: auto;
  font-weight: lighter !important;
}
.itemMigration p {
  display: flex;

  font-size: 16px;
  width: 80%;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 0.702);
  margin: auto;
  text-align: start;
  padding-bottom: 40px;
  padding-top: 20px;
}
.migration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #0c131787;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  height: auto;
  color: white;
  border: 2px solid white;
}
.migration-form h1 {
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}
.migration-form label {
  font-size: 0.9rem;
  margin: 10px auto;
}
.migration-form input {
  height: 25px;
  border-radius: 10px;
  padding: 10px;
}
.migration-form button {
  margin: auto;
  margin-top: 30px;
  background-color: #36b079;
}
.faded {
  backdrop-filter: blur(10px);
}

.uno {
  top: 10px;
  left: -270px;
}

.dos {
  top: -30px; /* Ajusta esta cantidad para posicionar la segunda tarjeta */
}

.tres {
  top: -460px; /* Ajusta esta cantidad para posicionar la tercera tarjeta */
  left: 270px;
}
.migration-button {
  display: flex;
  margin: auto;
  background-color: #36b079;
  border-radius: 15px;
  justify-content: center;
  width: 15vw;
  margin-top: -230px;
}
.button-landing-1 {
  background-color: #36b079;
  border-radius: 50px;
  width: 38%;
  height: 60px;
  font-size: 1.2rem;
  margin: auto;
  margin-left: 0px;
  box-shadow: 1px 1px 10px 1px white;
}
.button-landing-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36b079;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 150px;
  box-shadow: 1px 1px 10px 1px white;
}

.button-landing-2 {
  background-color: transparent;
  border-radius: 50px;
  width: 38%;
  height: 60px;
  font-size: 1.2rem;
  margin: auto;
  margin-left: 0px;
}
.button-landing-3 {
  background-color: #36b079;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  font-size: 1.2rem;

  margin: auto;
  box-shadow: 1px 1px 10px 1px white;
  margin-top: 30px;
  margin-bottom: 200px;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.triangles-background {
  /* position: relative;
  overflow: hidden; */
  height: 100%; /* Asegúrate de que el contenedor tenga altura suficiente */
}

.triangle {
  position: absolute;
  animation: float 5s ease-in-out infinite;
}

.triangle1 {
  top: 65%;
  left: 89%;
  width: 250px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  z-index: 10;
  animation-delay: 0s;
}

.triangle2 {
  top: 60%;
  left: 83%;
  width: 260px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  animation-delay: 1s;
}

.triangle3 {
  top: 18%;
  left: 94%;
  width: 250px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  animation-delay: 2s;
}

.triangle4 {
  top: 35%;
  left: 92%;
  width: 220px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  animation-delay: 3s;
}

.triangle5 {
  top: 60%;
  left: 75%;
  width: 130px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  z-index: 10;
  animation-delay: 4s;
}

.triangle6 {
  top: 52%;
  left: 70.5%;
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  animation-delay: 5s;
}

.triangle7 {
  top: 20%;
  left: 75%;
  width: 270px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  animation-delay: 6s;
}
.triangle8 {
  top: 20%;
  left: 68%;
  width: 220px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  animation-delay: 7s;
}
.triangle9 {
  top: 18%;
  left: 38%;
  width: 500px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  z-index: 0;
  animation-delay: 8s;
}
.triangle10 {
  top: 47%;
  left: 60%;
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  z-index: 10;
  animation-delay: 9s;
}

.triangle img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .ilustracion-bannerGrande {
    display: none;
  }
  .banner-container {
    width: 100%;
  }
  .textosBanner {
    margin-top: 100px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
  }
  .tituloBanner {
    font-size: 1.8rem;
    font-weight: 100;
  }
  .banner-container {
    display: flex;
    height: 100%;
  }
  .subtituloBanner {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    font-size: 1rem;
  }
}
