.solutionCard{
    display: flex;
    flex-direction: column;
    width: 60vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.103);
    height: 400px;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.068);
}
.solutionCard h2{
    font-family: rouben;
    font-size: 2rem;
    width: 40%;
    background: linear-gradient(225deg, #fff 30%, #36B079 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-align: start;
    margin: auto;
    margin-right: 10px;
    
}
.solutionCard span{
    color: white;
    width: 40%;
    margin: auto;
    text-align: start;
    margin-left: 10px;
   
}

.solutionCard2{
    display: flex;
    flex-direction: column;
    width: 60vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.103);
    height: 400px;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.068);
}
.solutionCard2 h2{
    font-family: rouben;
    font-size: 2rem;
    width: 70%;
    background: linear-gradient(225deg, #fff 30%, #36B079 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: start;
    margin: auto;
    margin-left: 40px;
    margin-bottom: 20px;
    
}
.solutionCard2 span{
    color: white;
    width: 70% !important;
    margin: auto;
    text-align: start;
    margin-top: 0px;
    margin-left: 40px;
   
}
.solutionCard2 button{
    width: 200px;
    border-radius: 15px;
    background-color: #36B079;
    margin: 0px auto;
    margin-right: auto;
    margin-left: 40px;
    margin-top: 40px;
    
}
.solution-texts{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.solution-texts2{
    display: flex;
    width: 60%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 200px;
}
.solutionCard button{
    width: 200px;
    border-radius: 15px;
    background-color: #36B079;
    margin: 0px auto;
    
}
.clickeables-solutions{
    display: flex;
    margin: 10px auto;
}
.clickeables-solutions div{
    display: flex;
    height: 10px;
    border-radius: 15px;
    background-color: #ffffff82;
    width: 35px;
    margin: 10px 10px;
    cursor: pointer;
}
.selectedClick{
    display: flex;
    height: 10px;
    border-radius: 15px;
    background-color: #ffffff !important;
    width: 35px;
    margin: 10px 10px;
    cursor: pointer;

}


.article-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.article{
    display: flex;
    width: 40vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.070);
    height: 300px;
}
.article2{
    display: flex;
    width: 95vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.070);
    height: 400px; 
    margin: auto;
}
.article3{
    display: flex;
    width: 30vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.070);
    height: 300px; 
    margin: auto;
}
.article2 img{
    display: flex;
    margin: auto;
    width: 40vw;
}



.article-container h2{
    font-family: rouben;
    color: white;
    width: 40vw;
    margin: 20px auto;
}

.article-container2 h2{
    font-family: rouben;
    color: white;
    width: 30vw;
    margin: 20px auto;
}

.article img{
    display: flex;
    margin: auto;
    width: 20vw;
}
.grid-articles{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}
.datos-articulos{
    display: flex;
    width: 40vw;
    margin: auto;

}
.datos-articulos img{
    border-radius: 50px;
    margin: auto 10px;
}
.datos-articulos h3{
    font-family: rouben ligth;
    color: white;
}
.datos-articulos span{
    font-family: rouben ligth;
    color: rgba(255, 255, 255, 0.56);
    margin: auto 10px;
}

.article-only{
    margin-top: 100px;
}
.article-only h1{
    font-family: rouben ligth;
    color: white;
    width: 80vw;
    margin: 20px auto;
    font-size: 4rem;

}
.article-only p{
    font-family: rouben ligth;
    color: rgba(255, 255, 255, 0.56);
    margin: auto auto;
    font-size: 1.5rem;
    width: 80%;
}

.grid-articlesEx{
    display: grid;
    grid-template-columns: auto auto auto;
}
.datos-articulos3{
    display: flex;
    width: 30vw;
    margin: auto;

}
.datos-articulos3 img{
    border-radius: 50px;
    margin: auto 10px;
}
.datos-articulos3 h3{
    font-family: rouben ligth;
    color: white;
}
.datos-articulos3 span{
    font-family: rouben ligth;
    color: rgba(255, 255, 255, 0.56);
    margin: auto 10px;
}
.article3 img{
    display: flex;
    margin: auto;
    width: 20vw;
}
.fotos-solutions{
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
}