.whatApp-container{
    background-color: rgba(255, 255, 255, 0.070);
    width: 80%;
    border-radius:5px;
    height: auto;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    
}
.whatApp-container h2{
    font-family: rouben ligth;
    letter-spacing: 1px;
    margin-bottom: 50px ;
    margin-top: 30px;
}
.whatApp-container button{
    background-color: #36B079;
    border-radius: 13px;
    font-weight: lighter;
    font-family: rouben ;
    font-size: 1rem;
    width: 11vw;
    padding: 5px;
    margin-bottom: 30px;
}

.integration-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.284);
    width: 30%;
    border-radius:10px;
    height: auto;
    margin: auto;
    border: 3px solid transparent;
    padding: 10px;
   
}
.integration-container img{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
.integration-container button{
    display: flex;
    margin: auto;
    height: 30px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #36B079;
    align-items: center;
    font-family: rouben ligth;
    

}
.integration-container span{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}
.integration-container p{
    color: rgba(255, 255, 255, 0.613);
    margin-bottom: 20px;
}

/* .integration-container:hover{
    border: 3px solid rgba(255, 255, 255, 0.518);
} */
.verified-integration{
    display: flex;
    justify-content: center;
    margin-left: auto;
    
}

.verified-integration img{
    display: flex;
    margin: auto 10px;
}
.verified-integration span{
    display: flex;
    margin: auto  ;
    color: white;
    font-family: rouben;
}
