name: Deploy dev

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  deploy-dev:
    uses: RunOnGrid/deploy-workflow/.github/workflows/deploy-dev.yml@main
    secrets:
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
      VM_PATH_DEV: ${{ secrets.VM_PATH_DEV }}
      VM_HOST_DEV: ${{ secrets.VM_HOST_DEV }}
      VM_USER_DEV: ${{ secrets.VM_USER_DEV }}
      VM_PASSWORD_DEV: ${{ secrets.VM_PASSWORD_DEV }}

